.details-section {
  align-items: center;
  color: #2a2a2a;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  padding: 0;
  width: 100%;
  margin: 10vh auto 0 auto;
  border: 2px solid blue;
}


.item-details {
  background-color: #b8c0ff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: black;
  font-size: 14px;
  height: 2.5vh;
  margin: 2px;
  padding: 3px;
  text-align: center;
  text-transform: uppercase;
  width: 38vw;
  overflow: auto;
}

.item-details:hover {
  background-color: #c8b6ff;
  color: #2a2a2a;
}

.details-image {
  height: 35vh;
  width: 60vw;
}

.item-notes {
  border: 1px solid rgb(50, 49, 49);
  border-radius: 8px;
  font-size: 16px;
  height: 10vh;
  margin-bottom: 5%;
  margin-top: 5%;
  width: 65vw;
  text-align: center;
  padding: 5px 0 5px 0;
}

.notes-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 15vh;
  width: 65vw;
}

.item-link,
.edit-link,
.details-navlink {
  text-decoration: none;
}

.details-list-dropdown {
  height: 5vh;
  font-size: 13px;
}

.add-to-list-container {
  border: 2px solid red;
  text-align: center;
  height: 100%;
}

.list-input-container {
  display: flex;
  width: 40vw;
  border: 2px solid green;
  margin: auto;
}


input {
  text-align: center;
  width: 35vw;
  align-self: center;
  margin: 1vw;
}

.react-datepicker__month-container {
  background-color: rgb(227, 223, 223);
  position: absolute;
  z-index: 5;
}

.fa-heart {
  font-size: 3vh;
  margin-bottom: 1vh;
  padding: 5px;
  z-index: 3;
}

.image-and-favorite-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  z-index: 2;
}

.toggle-icons {
  width: 50%;
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
  border: 2px solid red;
}

.toggle-icon {
  font-size: 30px;
  margin: 0 10px 0px 10px;
  color: rgb(82, 77, 77);
}

.toggle-icon:active {
  transition: 0.25s;
  transform: scale(.75);
}

.add-to-list-btn {
  border: 1px solid rgb(45, 44, 44);
  color: rgb(45, 44, 44);
  width: 30vw;
  max-width: 150px;
  margin: 15px auto 2px auto;
  display: block;
  height: 5.5vh;
  padding: 0;
  text-align: top;
  font-size: 15px;
  background-image: linear-gradient(to right, #e7c0f4 0%, #c7d4ea 51%, #bba8f4 100%);
}

.favorite-background,
.item-favorite-background {
  margin-top: -5%;
  height: 4vh;
  z-index: 2;
  background-color: rgb(221, 221, 238);
}

.toggle-delete-container {
  border: 1px solid rgb(45, 44, 44);
  text-align: center;
  height: 20vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


.close-delete-toggle {
  margin-left: 90%;
  font-size: 20px;
}

.delete-warning-text {
  font-size: 18px;
}

.details-delete-container {
  display: flex;
  justify-content: center;
  border: 2px solid rgb(226, 50, 23);
  width: 35vw;
  padding: 3px;
  align-items: center;
  font-size: 18px;
  margin: 10px auto;
  background-color: rgb(247, 117, 117);
  color: rgb(240, 213, 213);
}

.delete-details-icon {
  height: 3vh;
  margin-right: 5px;
  color: rgb(246, 235, 235);
}

.details-delete-button {
  background-color: rgba(241, 125, 125, 0.69);
  border: 1px solid rgb(234, 73, 73);
}

@media (min-width: 530px) {
  .details-image {
    width: 32vw;
    height: 30vh;
  }

  .favorite-background {
    width: 32vw;
  }
}

@media (min-width: 880px) {
  .details-image {
    width: 20vw;
  }

  .favorite-background {
    width: 20vw;
  }
}

@media (min-width: 1130px) {
  .details-image {
    width: 18vw;
    height: 38vh;
  }

  .favorite-background {
    width: 18vw;
  }
}

.item-details-image {
  height: 32vh;
  width: 72vw;
}
