.closet-container {
  height: 80vh;
  padding-bottom: 5vh;
  margin-top: 10vh;
}

.cards-container {
  align-content: space-around;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: fit-content;
}

.no-items {
  margin-top: 10vh;
  color: #2a2a2a;
  width: 50vw;
  text-align: center;
  font-size: 18px;
}

.item-count-text {
  margin-left: 80%;
  margin-top: 5px;
}

.no-item-text,
.fetch-error-text {
  height: 50vh;
  margin-left: 10vw;
  width: 50vw;
  text-align: center;
  margin-top: 16vh;
  font-size: 19px;
}

.item-count-text,
.no-item-text,
.fetch-error-text {
  display: block;
  color: rgb(92, 90, 90);
}

.closet-item-detail {
  margin-top: 4px;
}

.clear-filters-button {
  border: 1px solid rgb(45, 44, 44);
  color: rgb(45, 44, 44);
  width: 30vw;
  max-width: 190px;
  margin: 15px 2.5vw 2px 2.5vw;
  height: 5.5vh;
  padding: 0;
  text-align: top;
  font-size: 15px;
  background-image: linear-gradient(to right, #e7c0f4 0%, #c7d4ea 51%, #bba8f4 100%);
}

.filter-button {
  background-color: #b8c0ff;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
  color: #2a2a2a;
}

.closet-loader {
  margin-left: 35%;
  margin-top: 30%;
}

.item-type-container {
  display: flex;
  align-items: center;
  overflow: scroll;
  width: 75%;
  margin-left: auto;
}

::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: #c7c2c2;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #9c9999;
}

.item-type-button {
  background-color: #F1F1F1;
  text-decoration: underline;
  color: rgb(45, 44, 44);
  padding: 2px;
  flex-basis: fit-content;
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 5px;
}

.filter-option {
  display: flex;
  flex-direction: column;
  width: 28vw;
  height: 5vh;
  background-color: #F1F1F1;
  border-radius: 0;
  text-align: center;
  color: rgb(45, 44, 44);
}

.filter-icon-container {
  display: flex;
  height: 6vh;
  align-items: baseline;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid grey;
  max-width: 250px;
}

.expand-icon,
.minimize-icon {
  height: 2vh;
  margin: 0;
}

.filter-label-and-input {
  display: flex;
  width: 25vw;
  align-items: center;
  justify-content: center;
  padding: 15px 15px 15px 3vw;
}

label {
  width: 100vw;
  display: block;
}

.closet-main {
  display: flex;
  justify-content: space-around;
}

.filter-options-container {
  margin-top: 4vh;
  width: 35vw;
}

.card-details {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  font-size: 14px;
}

@media (min-width: 460px) {
  .item-count-text {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
  }
  .item-type-container {
    overflow: hidden;
  }
}

@media (min-width: 475px) {
  .item-type-container {
      justify-content: flex-end;
    }
}

@media (min-width: 500px) {
  .details-image {
    height: 40vh;
    width: 40vw;
  }

  .favorite-background {
    width: 40vw;
  }
}

