.logo-img {
  cursor: pointer;
  height: 5vh;
  left: 0;
  position: fixed;
  padding: 5px;
}

.header-container {
  height: 7vh;
  background-color: rgb(52, 49, 49);
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 5;
}